<div class="container">
  <%= simple_form_for restaurant do |t| %>
    <%= t.input :name %>
    <%= t.input :address %>
    <%= t.input :phone_number %>
    <%= t.input :category %>
    <%= t.submit %>
  <% end %>
</div>
